<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'landingpage/style.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Andika&display=swap"
      rel="stylesheet"
    />
    <title>Hyper Typer</title>
  </head>
  <body>
    <nav class="navigation">
      <div class="brand">
        <span class="brand-1">Hyper</span>&nbsp;<span class="brand-2"
          >Typer</span
        >
      </div>
    </nav>
    <main class="main">
      <div class="left">
        <div class="slogan">
          <svg class="title-line" viewBox="0 0 31.86 2">
            <line y1="1" x2="31.86" y2="1" />
          </svg>
          <div class="title">10X Your Typing Speed</div>
          <div class="desk-img">
            <img
              src="{% static 'landingpage/desk.png' %}"
              alt="man on a desk"
            />
          </div>

          <div class="cta-container">
            <a id="cta" href="/app/">Start here &#8594;</a>
          </div>
        </div>
      </div>

      <div class="right">
        <div class="svg-app-screenshot-container">
          <svg class="svg-app-screenshot-mobile" viewBox="0 0 54.9 91.02">
            <defs>
              <style>
                .cls-1,
                .cls-2 {
                  stroke: #231f20;
                  stroke-miterlimit: 10;
                }
                .cls-1 {
                  fill: url(#Dégradé_sans_nom_38);
                }
                .cls-2 {
                  fill: url(#Dégradé_sans_nom_38-2);
                }
              </style>
              <linearGradient
                id="Dégradé_sans_nom_38"
                x1="-114.29"
                y1="28.79"
                x2="-30.12"
                y2="28.79"
                gradientTransform="translate(-1.34 -26.7) rotate(-90)"
                gradientUnits="userSpaceOnUse"
              >
                <stop offset="0.18" stop-color="#515153" />
                <stop offset="0.36" stop-color="#4b4b4d" />
                <stop offset="0.52" stop-color="#58595b" />
                <stop offset="0.58" stop-color="#4f5052" />
                <stop offset="0.65" stop-color="#4a4a4c" />
                <stop offset="0.7" stop-color="#464648" />
                <stop offset="0.81" stop-color="#414042" />
                <stop offset="0.85" stop-color="#49494b" />
                <stop offset="0.93" stop-color="#545557" />
                <stop offset="1" stop-color="#58595b" />
              </linearGradient>
              <linearGradient
                id="Dégradé_sans_nom_38-2"
                x1="-117.22"
                y1="28.79"
                x2="-27.2"
                y2="28.79"
                xlink:href="#Dégradé_sans_nom_38"
              />
            </defs>
            <title>Fichier 10</title>
            <g id="Calque_2" data-name="Calque 2">
              <g id="APP-SCREENSHOT">
                <path
                  class="cls-1"
                  d="M14.55,3.43h25.8c6.4,0,11.64,5,11.64,11V76.55c0,6.07-5.24,11-11.64,11H14.55c-6.4,0-11.64-5-11.64-11V14.47C2.91,8.4,8.15,3.43,14.55,3.43Z"
                />
                <image
                  width="328"
                  height="556"
                  transform="translate(4.88 4.33) scale(0.14 0.15)"
                  xlink:href="{% static 'landingpage/app-screenshot-mobile.png' %}"
                />
                <path
                  class="cls-2"
                  d="M.5,12.32V78.71c0,6.49,5.75,11.81,12.78,11.81H41.62c7,0,12.78-5.32,12.78-11.81V12.32C54.4,5.82,48.65.5,41.62.5H13.28C6.25.5.5,5.82.5,12.32Zm38.82-8A10.79,10.79,0,0,1,50,15.14V75.88A10.8,10.8,0,0,1,39.32,86.69H15.58A10.79,10.79,0,0,1,4.88,75.88V15.14A10.78,10.78,0,0,1,15.58,4.33Z"
                />
              </g>
            </g>
          </svg>
          <svg
            class="svg-app-screenshot"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 269.8 140.24"
          >
            <defs>
              <style>
                .cls-1,
                .cls-2 {
                  stroke: #231f20;
                  stroke-miterlimit: 10;
                }
                .cls-1 {
                  fill: url(#Dégradé_sans_nom_38);
                }
                .cls-2 {
                  fill: url(#Dégradé_sans_nom_38-2);
                }
              </style>
              <linearGradient
                id="Dégradé_sans_nom_38"
                x1="9.24"
                y1="70.12"
                x2="260.57"
                y2="70.12"
                gradientUnits="userSpaceOnUse"
              >
                <stop offset="0.18" stop-color="#515153" />
                <stop offset="0.36" stop-color="#4b4b4d" />
                <stop offset="0.52" stop-color="#58595b" />
                <stop offset="0.58" stop-color="#4f5052" />
                <stop offset="0.65" stop-color="#4a4a4c" />
                <stop offset="0.7" stop-color="#464648" />
                <stop offset="0.81" stop-color="#414042" />
                <stop offset="0.85" stop-color="#49494b" />
                <stop offset="0.93" stop-color="#545557" />
                <stop offset="1" stop-color="#58595b" />
              </linearGradient>
              <linearGradient
                id="Dégradé_sans_nom_38-2"
                x1="0.5"
                y1="70.12"
                x2="269.3"
                y2="70.12"
                xlink:href="#Dégradé_sans_nom_38"
              />
            </defs>
            <title>Fichier 9</title>
            <g id="Calque_2" data-name="Calque 2">
              <g id="APP-SCREENSHOT">
                <path
                  class="cls-1"
                  d="M260.57,36.79v66.65c0,16.55-14.85,30.06-33,30.06H42.23c-18.14,0-33-13.51-33-30.06V36.79c0-16.54,14.85-30,33-30H227.58C245.72,6.74,260.57,20.25,260.57,36.79Z"
                />
                <image
                  id="SCREENSHOT"
                  width="1276"
                  height="618"
                  transform="translate(18.25 12.48) scale(0.18 0.19)"
                  xlink:href="{% static 'landingpage/app-screenshot.png' %}"
                />
                <path
                  class="cls-2"
                  d="M234,.5H35.78C16.38.5.5,15.35.5,33.51v73.21c0,18.17,15.88,33,35.28,33H234c19.4,0,35.28-14.85,35.28-33V33.51C269.3,15.35,253.42.5,234,.5Zm23.85,100.28c0,15.21-14.53,27.65-32.28,27.65H44.22c-17.75,0-32.28-12.44-32.28-27.65V39.45c0-15.2,14.53-27.64,32.28-27.64H225.59c17.75,0,32.28,12.44,32.28,27.64Z"
                />
              </g>
            </g>
          </svg>
        </div>
      </div>
    </main>
  </body>
</html>
